header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

ul {
    list-style-type: none;
    display: flex;
     margin: 0;
    padding: 0;
    gap:16px;
  }

  .header {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  }