body {
   max-height: 100vh;
   margin: 0;
    
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-family: sans-serif;
    height: 33%;
    margin: auto;
    min-width: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}
.header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
     margin: 0;
    padding: 0;
    gap:16px;
  }

.container {
  display: flex;
  max-height:fit-content;
  padding: 16px;
}


  .hero {
     
      font-size: 48px;
      font-weight: bolder;
      color: #f9faf8;
    min-width: auto;
  }

  .jelly {
    max-width: 400px;
    height: auto;
    padding: 0px;
    margin: 0px;
  }

.subtext {
    padding: 16px 0px;
    color: #e5e7eb;
    font-size: 18px;
    max-width: 60%;
}
  button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    width: 150px;
    font-size: 18px;
  }

  .title {
      font-size: 36px;
      font-weight: 900;
      display: flex;
      justify-content: center;
          padding: 20px;
    }

.main{
  display: flex;
  justify-content: space-evenly ;
  text-align: center;
  height: 300px;
}

    .item {
      width: 100px;
      height: 100px;
      padding-bottom: 8px;
    }











    /* FOOTER */
    footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
}

.box {
  background-color:#e5e7eb;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  width: 50%;
  margin: none;
}

.thor {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-family: sans-serif;
  font-weight: bold;
  margin: none;
}