body {
   max-height: 100vh;
   margin: 0;
    
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-family: sans-serif;
    height: 33%;
    margin: auto;
    min-width: auto;
    padding-left: 15%;
    padding-bottom: 10%;
}
.header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
     margin: 0;
    padding: 0;
    gap:16px;
  }

  .hero {
      padding: 8px;
      font-size: 48px;
      font-weight: bolder;
      color: #f9faf8;
    min-width: auto;
    width: 50%;
  }

  img {
    max-width: 35%;
    height: auto;
  }

.subtext {
    padding: 8px;
    color: #e5e7eb;
    font-size: 18px;
}
  button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
  }